
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/


.venv/
venv/
env/


runs/
weights/
*.pt
*.pth
*.onnx
*.engine
*.cache


datasets/
data/


docs/
mkdocs.yml
.github/
tests/
docker/
examples/


.idea/
.vscode/
*.swp


.DS_Store
Thumbs.db
ultralytics/nn/extra_modules/cutlass/